<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vt.base.client.DictItemMapper">
    <resultMap id="BaseResultMap" type="com.vt.base.model.DictItem">
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL"/>
        <result column="DICT_TYPE_CODE" property="dictTypeCode" jdbcType="VARCHAR"/>
        <result column="DICT_ITEM_VALUE" property="dictItemValue" jdbcType="VARCHAR"/>
        <result column="DICT_ITEM_NAME" property="dictItemName" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="SERIALNO" property="serialno" jdbcType="DECIMAL"/>
        <result column="DICT_LEVEL" property="dictLevel" jdbcType="DECIMAL"/>
        <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL"/>
        <result column="SEQ_NO" property="seqNo" jdbcType="VARCHAR"/>
        <result column="FIELD1" property="field1" jdbcType="VARCHAR"/>
        <result column="FIELD2" property="field2" jdbcType="VARCHAR"/>
        <result column="FIELD3" property="field3" jdbcType="VARCHAR"/>
        <result column="FIELD4" property="field4" jdbcType="VARCHAR"/>
        <result column="FIELD5" property="field5" jdbcType="VARCHAR"/>
        <result column="FIELD6" property="field6" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ITEM_ID, DICT_TYPE_CODE, DICT_ITEM_VALUE, DICT_ITEM_NAME, STATUS, SERIALNO, DICT_LEVEL,
        PARENT_ID, SEQ_NO, FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vt.base.model.DictItemExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from T_BAS_DICT_ITEM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.vt.base.model.DictItemExample">
        delete from T_BAS_DICT_ITEM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.vt.base.model.DictItem">
        insert into T_BAS_DICT_ITEM (ITEM_ID, DICT_TYPE_CODE, DICT_ITEM_VALUE,
        DICT_ITEM_NAME, STATUS, SERIALNO,
        DICT_LEVEL, PARENT_ID, SEQ_NO,
        FIELD1, FIELD2, FIELD3,
        FIELD4, FIELD5, FIELD6
        )
        values (#{itemId,jdbcType=DECIMAL}, #{dictTypeCode,jdbcType=VARCHAR}, #{dictItemValue,jdbcType=VARCHAR},
        #{dictItemName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{serialno,jdbcType=DECIMAL},
        #{dictLevel,jdbcType=DECIMAL}, #{parentId,jdbcType=DECIMAL}, #{seqNo,jdbcType=VARCHAR},
        #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR},
        #{field4,jdbcType=VARCHAR}, #{field5,jdbcType=VARCHAR}, #{field6,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.vt.base.model.DictItem">
        insert into T_BAS_DICT_ITEM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                ITEM_ID,
            </if>
            <if test="dictTypeCode != null">
                DICT_TYPE_CODE,
            </if>
            <if test="dictItemValue != null">
                DICT_ITEM_VALUE,
            </if>
            <if test="dictItemName != null">
                DICT_ITEM_NAME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="serialno != null">
                SERIALNO,
            </if>
            <if test="dictLevel != null">
                DICT_LEVEL,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="seqNo != null">
                SEQ_NO,
            </if>
            <if test="field1 != null">
                FIELD1,
            </if>
            <if test="field2 != null">
                FIELD2,
            </if>
            <if test="field3 != null">
                FIELD3,
            </if>
            <if test="field4 != null">
                FIELD4,
            </if>
            <if test="field5 != null">
                FIELD5,
            </if>
            <if test="field6 != null">
                FIELD6,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                #{itemId,jdbcType=DECIMAL},
            </if>
            <if test="dictTypeCode != null">
                #{dictTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="dictItemValue != null">
                #{dictItemValue,jdbcType=VARCHAR},
            </if>
            <if test="dictItemName != null">
                #{dictItemName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="serialno != null">
                #{serialno,jdbcType=DECIMAL},
            </if>
            <if test="dictLevel != null">
                #{dictLevel,jdbcType=DECIMAL},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=DECIMAL},
            </if>
            <if test="seqNo != null">
                #{seqNo,jdbcType=VARCHAR},
            </if>
            <if test="field1 != null">
                #{field1,jdbcType=VARCHAR},
            </if>
            <if test="field2 != null">
                #{field2,jdbcType=VARCHAR},
            </if>
            <if test="field3 != null">
                #{field3,jdbcType=VARCHAR},
            </if>
            <if test="field4 != null">
                #{field4,jdbcType=VARCHAR},
            </if>
            <if test="field5 != null">
                #{field5,jdbcType=VARCHAR},
            </if>
            <if test="field6 != null">
                #{field6,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.vt.base.model.DictItemExample" resultType="java.lang.Integer">
        select count(*) from T_BAS_DICT_ITEM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="updateByItemTypeCodeAndVale" parameterType="com.vt.base.model.DictItem">
        update T_BAS_DICT_ITEM
        set DICT_ITEM_NAME = #{dictItemName,jdbcType=VARCHAR}
        where DICT_TYPE_CODE = #{dictTypeCode,jdbcType=VARCHAR} and DICT_ITEM_VALUE = #{dictItemValue,jdbcType=VARCHAR}
    </update>

</mapper>