<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vt.org.client.PostRoleRelMapper">
    <resultMap id="BaseResultMap" type="com.vt.org.model.PostRoleRel">
        <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId"/>
        <result column="POST_ID" jdbcType="DECIMAL" property="postId"/>
        <result column="SERIALNO" jdbcType="DECIMAL" property="serialno"/>
        <result column="FIELD1" jdbcType="DECIMAL" property="field1"/>
        <result column="FIELD2" jdbcType="DECIMAL" property="field2"/>
        <result column="FIELD3" jdbcType="VARCHAR" property="field3"/>
        <result column="FIELD4" jdbcType="VARCHAR" property="field4"/>
        <result column="FIELD5" jdbcType="VARCHAR" property="field5"/>
        <result column="FIELD6" jdbcType="VARCHAR" property="field6"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ROLE_ID, POST_ID, SERIALNO, FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6
    </sql>
    <select id="selectByExample" parameterType="com.vt.org.model.PostRoleRelExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from T_PM_POST_ROLE_REL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.vt.org.model.PostRoleRelExample">
        delete from T_PM_POST_ROLE_REL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.vt.org.model.PostRoleRel">
        insert into T_PM_POST_ROLE_REL (ROLE_ID, POST_ID, SERIALNO,
        FIELD1, FIELD2, FIELD3,
        FIELD4, FIELD5, FIELD6
        )
        values (#{roleId,jdbcType=DECIMAL}, #{postId,jdbcType=DECIMAL}, #{serialno,jdbcType=DECIMAL},
        #{field1,jdbcType=DECIMAL}, #{field2,jdbcType=DECIMAL}, #{field3,jdbcType=VARCHAR},
        #{field4,jdbcType=VARCHAR}, #{field5,jdbcType=VARCHAR}, #{field6,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.vt.org.model.PostRoleRel">
        insert into T_PM_POST_ROLE_REL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="postId != null">
                POST_ID,
            </if>
            <if test="serialno != null">
                SERIALNO,
            </if>
            <if test="field1 != null">
                FIELD1,
            </if>
            <if test="field2 != null">
                FIELD2,
            </if>
            <if test="field3 != null">
                FIELD3,
            </if>
            <if test="field4 != null">
                FIELD4,
            </if>
            <if test="field5 != null">
                FIELD5,
            </if>
            <if test="field6 != null">
                FIELD6,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=DECIMAL},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=DECIMAL},
            </if>
            <if test="serialno != null">
                #{serialno,jdbcType=DECIMAL},
            </if>
            <if test="field1 != null">
                #{field1,jdbcType=DECIMAL},
            </if>
            <if test="field2 != null">
                #{field2,jdbcType=DECIMAL},
            </if>
            <if test="field3 != null">
                #{field3,jdbcType=VARCHAR},
            </if>
            <if test="field4 != null">
                #{field4,jdbcType=VARCHAR},
            </if>
            <if test="field5 != null">
                #{field5,jdbcType=VARCHAR},
            </if>
            <if test="field6 != null">
                #{field6,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.vt.org.model.PostRoleRelExample" resultType="java.lang.Integer">
        select count(*) from T_PM_POST_ROLE_REL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <insert id="insertPostRoleRelBatch" parameterType="java.util.List">
        insert into T_PM_POST_ROLE_REL (ROLE_ID,POST_ID)
        <foreach collection="list" item="item" index="index" separator="union all">
            select #{item.roleId},#{item.postId} from dual
        </foreach>
    </insert>
</mapper>